h1 {
	font-family: sans-serif;
	text-align: left;
	font-size: 1.5em;
}

h2, h3 {
	font-family: sans-serif;
	text-align: center;
}

a {
	font-family: sans-serif;
}

p {
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify;
	font-family: sans-serif;
}

ul {
	display: table;
	margin: 0 auto;
}

li {
	font-family: sans-serif;
}

code {
	margin-left: 20%;
        margin-right: 20%;
        text-align: justify;
	background-color: #eee;
	border: 1px solid #999;
	padding: 20px;
	display: block;
	font-family: monospace;
	overflow: auto;
}

img {
	max-width: 100%;
	height: auto;
	display: table;
	margin: 0 auto;
}
